.custom-slide-bg-0 {
  background: linear-gradient(328deg, #0090FF 4.09%, rgba(0, 144, 255, 0) 97.73%) !important;
}

.custom-slide-bg-1 {
  background: #181E30 !important;
}

.custom-slide-bg-2 {
  background: linear-gradient(143deg, #0090FF -15.09%, rgba(0, 144, 255, 0) 101.23%) !important;
}