.listItem {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.listItem.appear {
  opacity: 1;
  transform: translateX(0);
}

.testDriveNumberText {
  background: linear-gradient(
    143deg,
    #0090ff -15.09%,
    rgba(0, 144, 255, 0) 101.23%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testDriveSectionItemWidth {
  @media (min-width: 744px) {
    width: calc(100% / 2);
  }
}
